body{
	background-color: orange;
}
h2{
	background-color: red;
	position: relative;
}
img{
	width: 100%;
	height: 100%;
	margin-right: 200;
}
#Container{
	margin: 1auto;
	background-color: ;
	width: 100px;
  #top{
	width: 200%;
	background-color: blue;

}
<img src="images/giphy.gif">
		<img src="images/giphy2.gif">

#about{
	background-color: orange;
img{
	width: 100%;
	height: 100%;
	margin-right:200;
}
 